*{
    margin: 0;
    padding: 0;
}

body{ 
    font-size: 1em;
    font-family: "Trebuchet MS", sans-serif;
}

a{
    color: black;
}

#menu{
    background: linear-gradient(to top, #b7094c 25%, #09b774 90%);
    position:relative;
    float: left;
    height: 722px;
    width: 13%;
}
#foto{
    height: 85px;
    padding-top: 190px;
    padding-left: 22px;
    
}
.menu_lateral{
    text-align: center;
    padding-block-start: 450px;
}

.principal{
    position: relative;
    background-color: #edf2fb;
    float: right;
    position: relative;
    height: 472px;
    width: 87%;
    text-indent: 5%;
    padding-block-start: 250px;
    font-size: 45px;
    color: black;
}

p{
    font-size: 24px;
    padding-top:15px;
    text-indent: 3%;
}

.elementos{
    padding: 5px 25px 0px 0px;
    height: 35px;
}
